<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Driver Standings</title>
  <link rel="stylesheet" type="text/css" href="/styles.css">
  <style>
    table {
      width: 85%;
      border-collapse: collapse;
      border-spacing: 0;
      border: 1px solid #ddd;
      margin: 20px auto;
    }


    th {
      background-color: #000000;
      color: white;
      border: 1px solid #ddd;
      padding: 5px;
      text-align: left;
      font-size: 14px;
    }


    td {
      border: 1px solid #ddd;
      padding: 5px;
      font-size: 14px;
    }
  </style>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/home">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/driver/all">Drivers</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/team/all">Teams</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/standings/all">Standings</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/driver/create">Create Driver</a>
      </li>
    </ul>
  </div>
</nav>


<h1>Driver Standings</h1>
<table>
  <thead>
  <tr>
    <th>Position</th>
    <th>Driver</th>
	<th th:each="race : ${races}">
		<a th:href="@{/standings/driver/update/race/{id}(id=${race.idR})}" class="table-link" th:text="${race.raceName}"></a> <!--shows name for each race -->
    </th>
	<th>Total Points</th>
	<th>Total Wins</th>
	    </tr>
  </thead>
   <tbody>
      <tr th:each="driver : ${drivers}">
        <td th:text="${driver.driverTotalPosition}"></td>
        <td th:text="${driver.name} + ' ' + ${driver.surname} + ' ' + ${driver.number}"></td>
        <td th:each="race : ${races}">
          <span th:each="standing : ${driver.driverStandings}"
                th:if="${standing.numberOfTheRace == race.idR}"
                th:text="${standing.pointsPerRace}"></span>
        </td>
        <td th:text="${driver.totalPoints}"></td>
		<td th:text="${driver.totalWins}"></td>
      </tr>
    </tbody>
  </table>
  </body>
  </html>