<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update Driver</title>
    <link rel="stylesheet" type="text/css" href="/driver/create.css">
    <link rel="stylesheet" type="text/css" href="/styles.css">
    <style>
        table {
            width: 85%;
            border-collapse: collapse;
            border-spacing: 0;
            border: 1px solid #ddd;
            margin: 20px auto;
        }

        th {
            background-color: #000000;
            border: 1px solid #ddd;
            padding: 5px;
            text-align: left;
            font-size: 14px;
        }

        td {
            border: 1px solid #ddd;
            padding: 5px;
            font-size: 14px;
        }

    </style>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/home">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/driver/all">Drivers</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/teams/all">Teams</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/standings/all">Standings</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/driver/create">Create Driver</a>
            </li>
        </ul>
    </div>
</nav>
<form action="#" th:action="@{/driver/update/{id}(id=${id})}" th:object="${driver}" method="post">
    <input type="hidden" th:field="*{idD}" />
    <table>
        <thead>
            <td colspan="3"><h2>Update Driver</h2></td>

        </thead>
        <tbody>
            <tr>
                <td>Name</td>
                <td th:text="*{name}"></td>
            </tr>
            <tr>
                <td>Surname</td>
                <td><input type="text" th:field="*{surname}" /></td>
                <td th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}"></td>
            </tr>
            <tr>
                <td>Number</td>
                <td><input type="number" th:field="*{number}" /></td>
                <td th:if="${#fields.hasErrors('number')}" th:errors="*{number}"></td>
            </tr>
            <tr>
                <td colspan="2"><input type="submit" value="Submit" /></td>
            </tr>
        </tbody>
    </table>
</form>
</body>
</html>